/* Write your CSS here */

.container {
  background-color: #88eff7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  text-align: center;
  padding: 20px;
}
.heading {
  color: #2d3a35;
  font-size: 28px;
  margin-bottom: 10px;
}
.count {
  color: #c20a72;
  font-weight: bold;
}
.paara {
  color: #2d3a35;
  font-size: 18px;
  margin-bottom: 20px;
}

.button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 36px;
  }

  .description {
    font-size: 20px;
  }

  .button {
    font-size: 18px;
    padding: 14px 30px;
  }
}
